
.cardsContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5em;
    /* padding-left: 3em;
    padding-right: 2.3em; */
    padding-bottom:2.3em ;
    font-size: small;
    justify-content: center;
}

@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}
@media (max-width: 2500px){
.card {
    padding-top: 1rem;
    margin-top: 0.5rem;
    width: 40rem;
    height: 20rem;
    margin: 1.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-color: rgb(100, 255, 52);
    background-image: url('../../../public/portalback.jpg');
    border-radius: 12px;
    box-shadow: inset 5px 5px 10px #000000cb,
                    inset -5px -5px 10px #3d3c3ce0;
    box-shadow: 1rem greenyellow;
}

.images {
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    max-width: 60%;
    height: 50%;
    align-self:center ; 
    aspect-ratio: 1;
    border-radius: 30%;
    background: #f2f2f3;
    box-shadow: -5px -5px 8px #030101cb, 
                    5px 5px 8px #494949c2;
}
.charName {
    flex-direction: column;
    text-align: center;
    display: flex;
    font-weight:900;
    font-size: 1.3em;
    color: rgb(169, 226, 35);
    text-shadow: 2px 2px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px black ;
    font-family: 'Get Schwifty', sans-serif;
    
}
.cardInfo {
    margin-top: -1rem;
    margin-left: 5rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 300;
    background: black;
    background-clip: border-box;
    -webkit-background-clip: text;
    font-family:Helvetica, sans-serif;
    text-shadow: 0.5px .5px 0 #ffffff, -.5px -.5px 0 #ffffff, .5px -.5px 0 #ffffff, -.5px .5px rgb(255, 255, 255) ;
}


.back{
    margin: 0.5rem;
    font-size: 1rem;
    padding: 0.25em 1em;
    border: transparent;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
    background: #000000;
    border-radius: 1rem;
    color:#c8ff00;
    font-weight: 600;
}

.back:hover{
    background: linear-gradient(90deg, #c8ff00 0%, #00ccff 100%);
    cursor: pointer;
    color: black;
    font-weight: 600;
}

.buttonFav{
    align-self: flex-start;
    margin-top: -1.6rem;
    font-weight: 600;
    font-size: larger;
    color: #ff0000;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(3, 20, 27) 0%, rgbrgb(5, 12, 15)0%);
    padding: .1em .5em;
    border-radius: 0.7em;  
}

.buttonFav:hover{
    background: #6b7285;
}}

@media (max-width: 600px){
    .card {
        padding-top: 1rem;
        margin-top: 0.5rem;
        width: 20rem;
        height: 10rem;
        margin: 1.5rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        background-image: url('../../../public/portalback.jpg');
        border-radius: 12px;
        box-shadow: inset 5px 5px 10px #000000cb,
                        inset -5px -5px 10px #3d3c3ce0;
        box-shadow: 1rem greenyellow;
    }
    
    .images {
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        max-width: 40%;
        height: 30%;
        align-self:center ; 
        aspect-ratio: 1;
        border-radius: 30%;
        background: #f2f2f3;
        box-shadow: -5px -5px 8px #030101cb, 
                        5px 5px 8px #494949c2;
    }
    .charName {
        flex-direction: column;
        text-align: center;
        display: flex;
        font-weight:900;
        font-size: 0.8em;
        color: rgb(169, 226, 35);
        text-shadow: 2px 2px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px black ;
        font-family: 'Get Schwifty', sans-serif;
        
    }
    .cardInfo {
        margin-top: -1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
        font-size: 0.4rem;
        font-weight: 300;
        background: black;
        background-clip: border-box;
        -webkit-background-clip: text;
        font-family:Helvetica, sans-serif;
        text-shadow: 0.5px .5px 0 #ffffff, -.5px -.5px 0 #ffffff, .5px -.5px 0 #ffffff, -.5px .5px rgb(255, 255, 255) ;
    }
    
    
    .back{
        margin: 0.2rem;
        font-size: 0.5rem;
        padding: 0.25em 1em;
        border: transparent;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
        background: #000000;
        border-radius: 1rem;
        color:#c8ff00;
        font-weight: 600;
    }
    
    .back:hover{
        background: linear-gradient(90deg, #c8ff00 0%, #00ccff 100%);
        cursor: pointer;
        color: black;
        font-weight: 600;
    }
    
    .buttonFav{
        align-self: flex-start;
        margin-top: -1.6rem;
        font-weight: 600;
        font-size: larger;
        color: #ff0000;
        text-decoration: none;
        background: linear-gradient(90deg, rgb(3, 20, 27) 0%, rgbrgb(5, 12, 15)0%);
        padding: .1em .5em;
        border-radius: 0.7em;  
    }
}

