@media (max-width: 1500px){
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    padding-top: 0.9em;
    background: rgb(63,231,251);
    background: linear-gradient(90deg, #c8ff00 0%, #00ccff 100%);
    padding-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content:space-between
}

.divSearchBar{
    display:flex;
    justify-content:space-between;
}

.title{
    margin-left: 1rem;
    align-self: center;
    font-family: 'Get Schwifty', sans-serif;
    text-shadow: 2px 3px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px black ;
    font-size:2em;
    color: greenyellow;
}


.randomButton{
    margin: 0.5rem;
    font-size: 1rem;
    padding: 0.25em 1em;
    border: transparent;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.76);
    background: #000000;
    border-radius: 1rem;
    color:#c8ff00;
    font-weight: 600;
}

.randomButton:hover{
    background: linear-gradient(90deg, #c8ff00 0%, #00ccff 100%);
    cursor: pointer;
    color: black;
    font-weight: 600;
}}

@media (max-width: 700px) {
    .title{
        margin-left: 1rem;
        align-self: center;
        font-family: 'Get Schwifty', sans-serif;
        text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px black ;
        font-size:1.2em;
        color: greenyellow;
    }
    
    
    .randomButton{
        margin: .5rem;
        font-size: 0.5rem;
        padding: 0.25em 1em;
        border: transparent;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.781);
        background: #000000;
        border-radius: 1rem;
        color:#c8ff00;
        font-weight: 600;
    }
    
    .randomButton:hover{
        background: linear-gradient(90deg, #c8ff00 0%, #00ccff 100%);
        cursor: pointer;
        color: black;
        font-weight: 600;
    }
}

@media (max-width: 400px) {
    .title{
        margin-left: 1rem;
        align-self: center;
        font-family: 'Get Schwifty', sans-serif;
        text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px black ;
        font-size:1em;
        color: greenyellow;
    }
    
    
    .randomButton{
        margin: .4rem;
        font-size: 0.5rem;
        padding: 0.25em 1em;
        border: transparent;
        box-shadow: 0 6px 8px 0 rgb(0, 0, 0);
        background: #000000;
        border-radius: 1rem;
        color:#c8ff00;
        font-weight: 600;
    }
    
    .randomButton:hover{
        background: linear-gradient(90deg, #c8ff00 0%, #00ccff 100%);
        cursor: pointer;
        color: black;
        font-weight: 600;
    }
}