.details {
    position: fixed;
    top:4rem;
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
  .summary {
  cursor: pointer;
  font-size: 2.8em;
  color: greenyellow;
  justify-self: center;
  width: 1em; /* Adjust the width to make the button larger */
  height: 0.8em; /* Adjust the height to make the button larger */
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.summary::after {
  color: linear-gradient(90deg, #91ff00 0%, #00ccff 100%);
}
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: rgb(63,231,251);
    background: linear-gradient(90deg, #c8ff00 0%, #00ccff 100%);;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .details[open] .menu {
    display: block;
  }
  
  .menu button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .menu button:hover {
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 500;
  }
  
  .menu button:focus {
    color: rgb(0, 0, 0);
    outline: none;
    background-color: #ffffff;
  }

