@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}


.main{
    font-family:'Get Schwifty', sans-serif;
    display: flex;
    color: greenyellow;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 2px 2px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px black ;
    
}

.warning{
  margin-top: -2em;
    color: rgb(255, 1, 1);
    font-size: small;
}
@media (max-width: 1500px){


.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 146, 4, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    box-shadow: inset 3px 3px 8px #0000009f,
    inset -3px -3px 8px #3d3c3ce0;
  }
  
  .emailBox{
    position: relative;
  }
  
  .emailBoxInput {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .emailBoxLabel {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  
.buttonDiv{
    display: flex;
    justify-content: center;
}
  .buttonSubmit {
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .buttonSubmit:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
  }
  
  .spanButton{
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .spanButton:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }

  .passBox{
    display: flex;
    flex-direction: column;
    margin-left: 0em;
    width: 100%;
  display: flex;
  }

  .eyeButton{
    margin-left: 10em;
    margin-top: -4.2em;
    margin-bottom: 2.5em;
    width: 100%;
    z-index: 2;
    background: none;
    border-color: transparent;
  }

  .rickImage{
    width: 50%;
    border-radius: 7em;
    justify-self: center;
    box-shadow: 1px 1px 2px #000000b4;
  }

}

  @media (max-width: 600px){
    .loginBox{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 250px;
      padding: 30px;
      transform: translate(-50%, -50%);
      background: rgba(255, 146, 4, 0.987);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 10px;
      box-shadow: inset 3px 3px 8px #0000009f,
      inset -3px -3px 8px #3d3c3ce0;
    }
    
    .emailBox{
      position: relative;
    }
    
    .emailBoxInput {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
    
    .emailBoxLabel {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s;
    }
    
    /* .emailBoxInput:focus ~ emailBoxLabel,
    .emailBoxInput:valid ~ emailBoxLabel {
      top: -20px;
      left: 0;
      color: #bdb8b8;
      font-size: 12px;
    } */
    
  .buttonDiv{
      display: flex;
      justify-content: center;
  }
    .buttonSubmit {
      display: inline-block;
      padding: 10px 20px;
      color: #000000;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 4px
    }
    
    .buttonSubmit:hover {
      background: #03f40f;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #03f40f,
                  0 0 25px #03f40f,
                  0 0 50px #03f40f,
                  0 0 100px #03f40f;
    }
    
    .spanButton{
      position: absolute;
      display: block;
    }
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
    
      50%,100% {
        left: 100%;
      }
    }
    
    .spanButton:nth-child(1) {
      bottom: 2px;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03f40f);
      animation: btn-anim1 2s linear infinite;
    }
    .eyeButton{
      margin-left: 5em;
      margin-top: -4.2em;
      margin-bottom: 2.5em;
      width: 100%;
      z-index: 2;
      background: none;
      border-color: transparent;
    }
  
  }