@media (max-width: 2500px){
.searchBarDiv {
    display: flex;
    margin-top: 0.5em;
    margin-right: 1em;
    justify-content: right;
    margin-bottom: 0.5em;
    align-items: center;
  }
  
  .buttonBuscar {
    font-size: 15px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: #000000 6px 6px 6px;
    background: #000000;
    border-radius: 0 10px 10px 0;
    color:#c8ff00;
    font-weight: 600;
  }
  
  .buttonBuscar:hover {
    background: linear-gradient(90deg, #c8ff00 0%, #00ccff 100%);
    cursor: pointer;
    color: black;
    font-weight: 600;
  }

  
  .input {
    background-color: #a7a3a3;
    border-radius: 10px 0 0 10px;
    border: none;
    width: 300px;
    padding-left: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: cursive;
    box-shadow: #000000 6px 6px 6px;
  }
  
  ::placeholder {
    color: rgb(0, 0, 0);
  }}

  @media (max-width: 700px) {
    /* Styles for smaller screens */
    .buttonBuscar {
      font-size: 10px;
      padding: 0.3em 1em;
      border: transparent;
      box-shadow: #000000 4px 4px 4px;
      background: #000000;
      border-radius: 5px;
      color:#c8ff00;
      font-weight: 600;
    }
    
    .buttonBuscar:hover {
      background: linear-gradient(90deg, #c8ff00 0%, #00ccff 100%);
      cursor: pointer;
      color: black;
      font-weight: 600;
    }
  
    
    .input {
      background-color: #a7a3a3;
      border-radius: 6px ;
      border: none;
      width: 150px;
      padding-left: .5em;
      padding-top: 0.2em;
      padding-bottom: 0.4em;
      color: rgb(0, 0, 0);
      font-size: 10px;
      font-family: cursive;
      box-shadow: #000000 4px 4px 4px;
    }
  }

  @media (max-width: 500px) {
    .buttonBuscar {
      font-size: 10px;
      padding: 0.3em 1em;
      border: transparent;
      box-shadow: #000000 4px 4px 4px;
      background: #000000;
      border-radius: 5px;
      color:#c8ff00;
      font-weight: 600;
    }
    
    .buttonBuscar:hover {
      background: linear-gradient(90deg, #c8ff00 0%, #00ccff 100%);
      cursor: pointer;
      color: black;
      font-weight: 600;
    }
  
    
    .input {
      background-color: #a7a3a3;
      border-radius: 6px ;
      border: none;
      width: 100px;
      padding-left: .5em;
      padding-top: 0.2em;
      padding-bottom: 0.4em;
      color: rgb(0, 0, 0);
      font-size: 10px;
      font-family: cursive;
      box-shadow: #000000 4px 4px 4px;
    }
}