.cardContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5em;
    /* padding-left: 3em;
    padding-right: 2.3em; */
    padding-bottom:2.3em ;
    font-size: small;
    justify-content: center;
}


@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}
@media (max-width: 1500px){
.card {
    padding-top: 1rem;
    margin-top: 2rem;
    align-content: center;
    justify-content: flex-start;
    width: 40rem;
    height: 25rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url('../../../public/portalback.jpg');
    border-radius: 12px;
    box-shadow: inset 5px 5px 10px #000000cb,
                    inset -5px -5px 10px #3d3c3ce0;
    box-shadow: 1rem greenyellow;
}

.images {
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    width: 70%;
    height: 70%;
    margin-left: 4.5rem;
    margin-top: 1.5em;
    aspect-ratio: 1;
    border-radius: 30%;
    background: #f2f2f377;
    box-shadow: -5px -5px 8px #030101cb, 
                    5px 5px 8px #494949c2;
}
.charName {
    flex-direction: column;
    margin-left: 1.5em;
    text-align: center;
    display: flex;
    font-weight:900;
    font-size: 2em;
    color: rgb(169, 226, 35);
    text-shadow: 2px 2px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px black ;
    font-family: 'Get Schwifty', sans-serif;
    
}
.cardInfo {
    max-width: 15rem;
    height: 15rem;
    margin-right: 3em;
    margin-top: -1rem;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1.1rem;
    font-weight: 300;
    background: black;
    background-clip: border-box;
    -webkit-background-clip: text;
    font-family:Helvetica, sans-serif;
    text-shadow: 0.5px .5px 0 #ffffff, -.5px -.5px 0 #ffffff, .5px -.5px 0 #ffffff, -.5px .5px rgb(255, 255, 255) ;
}


.button{
    align-self: flex-end;
    color: #000000;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    padding: .1em .5em;
    background: linear-gradient(90deg, rgb(243, 52, 52) 0%, rgb(255, 0, 0) 100%);
    border-radius: 0.2em;
}

.button:hover{
    box-shadow: inset 3px 3px 3px #801e1e,
            inset -3px -3px 3px #550606;
}

.buttonFav{
    align-self: flex-start;
    margin-top: -1.6rem;
    font-weight: 600;
    font-size: larger;
    color: #ff0000;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(3, 20, 27) 0%, rgbrgb(5, 12, 15)0%);
    padding: .1em .5em;
    border-radius: 0.7em;  
}

.buttonFav:hover{
    background: #6b7285;
}
.card3 {
    width: 4em;
    height: 4em;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  .card2 {
    margin-left: 1em;
    width: 4em;
    height: 4em;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card2:hover .linkedin{
    fill: white;
  }
}


@media (max-width: 600px){
    .card {
        padding-top: 1rem;
        margin-top: 2rem;
        align-content: center;
        justify-content: flex-start;
        width: 20rem;
        height: 12rem;
        margin: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-image: url('../../../public/portalback.jpg');
        border-radius: 12px;
        box-shadow: inset 5px 5px 10px #000000cb,
                        inset -5px -5px 10px #3d3c3ce0;
        box-shadow: 1rem greenyellow;
    }
    
    .images {
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        width: 70%;
        height: 70%;
        margin-left: 2.5rem;
        margin-top: 1.5em;
        aspect-ratio: 1;
        border-radius: 30%;
        background: #f2f2f377;
        box-shadow: -5px -5px 8px #030101cb, 
                        5px 5px 8px #494949c2;
    }
    .charName {
        flex-direction: column;
        margin-left: 3em;
        text-align: center;
        display: flex;
        font-weight:900;
        font-size: 1em;
        color: rgb(169, 226, 35);
        text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px black ;
        font-family: 'Get Schwifty', sans-serif;
        
    }
    .cardInfo {
        max-width: 15rem;
        height: 15rem;
        padding-top: 8em;
        padding-left: 2em;
        margin-right: 3em;
        margin-top: -1rem;
        text-align: center;
        flex-wrap: wrap;
        font-size: .7rem;
        font-weight: 300;
        background: black;
        background-clip: border-box;
        -webkit-background-clip: text;
        font-family:Helvetica, sans-serif;
        text-shadow: 0.5px .5px 0 #ffffff, -.5px -.5px 0 #ffffff, .5px -.5px 0 #ffffff, -.5px .5px rgb(255, 255, 255) ;
    }
    
    
    .button{
        align-self: flex-end;
        color: #000000;
        font-size: larger;
        font-weight: bolder;
        text-decoration: none;
        padding: .1em .5em;
        background: linear-gradient(90deg, rgb(243, 52, 52) 0%, rgb(255, 0, 0) 100%);
        border-radius: 0.2em;
    }
    
    .button:hover{
        box-shadow: inset 3px 3px 3px #801e1e,
                inset -3px -3px 3px #550606;
    }
    
    .buttonFav{
        align-self: flex-start;
        margin-top: -1.6rem;
        font-weight: 600;
        font-size: larger;
        color: #ff0000;
        text-decoration: none;
        background: linear-gradient(90deg, rgb(3, 20, 27) 0%, rgbrgb(5, 12, 15)0%);
        padding: .1em .5em;
        border-radius: 0.7em;  
    }
    
    .buttonFav:hover{
        background: #6b7285;
    }
    .card3 {
        width: 3em;
        height: 3em;
        outline: none;
        border: none;
        background: white;
        border-radius: 3px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }
      
      .card3:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: black;
      }
      
      .card3:hover .github {
        fill: white;
      }
      .card2 {
        width: 3em;
        height: 3em;
        outline: none;
        border: none;
        background: white;
        border-radius: 3px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }
      
      .card2:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: black;
      }
      
      .card2:hover .linkedin{
        fill: white;
      }
}